$page_color:#09090D;
$violet-light:#bdbdfb;
$bold_poppins:boldpoppins;
$white_color:rgb(233, 233, 233);
// $black_ligtened:#0F0F11;
$black_ligtened:lighten(#09090D,6);
$violet:#7171FF;
$noto_regular:noto;
$noto-bold:notobold;
$trykker:trykker;
$small-device:500px;
$xxs:320px;
$xls:600px;
$xlsh:500px;
$xms:375px;
$md:780px;
$lg:1024px;
$xlg:1440px;
$xxlg:5000px;
$headervh:100vh;
$header-padding:37.5px;
$divider:(4/3);
