@import "../sass/variables.scss";
#body {
  height: 100%;
  min-height: calc(100vh - 23.25px - 30.75px);
  border-radius: (18px / $divider) 0px 0px 0px;
  background: rgba(82, 87, 82, 0.1);
  padding-top: (29px / $divider);
  padding-left: (42px / $divider);
  h4 {
    font-family: $trykker;
    font-weight: normal;
    font-size: (37px / $divider);
    text-align: left;
    color: #000;
    margin-bottom: (9px / $divider);
  }
  .code-card{
      margin-bottom: (30px/$divider);
      border-radius: (18px / $divider);
    background: #dbdbff;
    padding: (17px / $divider);
  }
  .icon{
      padding-right: (30px/$divider)!important;
  }
  .coding-icon {
    border-radius: (9px / $divider);
    min-height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: (30px/$divider);
  }
  .title {
    font-family: $trykker;
    font-weight: normal;
    font-size: (23px / $divider);
    text-align: left;
    color: #000;
    margin-bottom: (5px / $divider);
  }
  .status {
    height: (20px / $divider);
    margin-bottom: (5px / $divider);
  }
  .description {
    font-family: $noto_regular;
    font-weight: normal;
    font-size: (16px / $divider);
    text-align: left;
    color: #000;
    opacity: 0.49;
  }
  .source {
    height: (16px / $divider);
    background: transparent;
    margin-right: (20px / $divider);
  }
  .source-website {
    font-family: $noto_regular;
    font-weight: 500;
    font-size: (18px / $divider);
    text-align: left;
    color: #7171ff;
  }
  .numbering {
    font-family: $noto_bold;
    font-weight: 500;
    font-size: (29px/$divider);
    text-align: right;
    color: #00000b;
  }
}
