@import '../sass/variables.scss';
#like {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  max-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba($color: #121312, $alpha: 0.76);
  display: grid;
  place-items: center;
  .icons{
    padding-right:(69px/$divider);
  }
  svg {
    width: (104px/$divider);
    padding-left: 15px;
  }
  .panel {
    width: 40vw;
    border-radius: 9px / $divider;
    background: #1f211f;
    overflow-y: hidden;
    background-image: url('./components/rate/src/Mask\ Group\ 2.svg');
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    background-position: top right;
    .close {
      float: right;
      opacity: 1;
      svg {
        width: (40px / $divider);
        background: transparent;
      }
    }
    .title {
      h3 {
        font-family: $graphik-medium;
        font-weight: normal;
        font-size: (28px / $divider);
        line-height: 1;
        text-align: left;
        color: $white;
        margin-bottom: (18px / $divider);
      }
      h6 {
        font-family: $graphik-light;
        font-weight: normal;
        font-size: (18px / $divider);
        line-height: (23.4px / $divider);
        text-align: left;
        color: $white;
        opacity: 0.61;
        margin-bottom: (33px / $divider);
      }
    }

  }
}
