@import '../../sass/variables.scss';
#quickFeutures {
  padding-left: (32.5px / $divider);
  h1 {
    font-family: $graphik-light;
    font-weight: 300;
    font-size: (37px / $divider);
    text-align: left;
    color: $white;
    text-transform: uppercase;
    margin-bottom: (9px / $divider);
  }
  h5 {
    font-family: $graphik-light;
    font-weight: 300;
    font-size: (16px / $divider);
    color: $white;
    opacity: 0.4;
    display: block;
    margin-bottom: (32px / $divider);
  }
  .chart {
    padding: (18px / $divider);
    border-radius: (9px / $divider);
    background: #262926;

    h5 {
      font-family: $graphik-light;
      font-weight: 300;
      font-size: (24px / $divider);
      text-align: left;
      color: $white;
      margin-bottom: (10px / $divider);
      color: $white;
      opacity: 1;
    }
    h6 {
      font-family: $graphik-light;
      font-weight: 300;
      font-size: (16px / $divider);
      text-align: left;
      color: $white;
      opacity: 0.4;
    }
    .chart-data {
      min-height: (100px / $divider);
      max-width: 100%;
      display: flex;
      overflow: hidden;
      overflow-x: scroll;

      /* width */
      &::-webkit-scrollbar {
        width: (6px / $divider);
        height: (6px / $divider);
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: rgba(82, 87, 82, 0);
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #262926;
        border-radius: 100px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #d2ded2;
      }
    }
  }
  .ads {
    // background-image: url('https://cdn.dribbble.com/users/408980/screenshots/5628115/screenshot_2018-11-30_at_19.22.23.png');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    min-height: 100px;
    border-radius: (9px / $divider);
    padding: 10px;
    font-size: 14px;
    font-family: $graphik-light;
    color: #121312;
    font-weight: 900;
    margin-top: 10px;
  }
}
