@import '../sass/variables.scss';

#header {
  padding-top: (23.25px+30px);
  padding-left: $header-padding;
  padding-right: $header-padding;
  margin-bottom: 23.25px;

  svg {
    height: 22.5px;
    width: auto;
    transition: all 0.3s ease-out;

    path {
      stroke: '#D2DED2';
      transition: all 0.3s ease-out;
    }

    rect {
      stroke: 'red';
      transition: all 0.3s ease-out;
    }

    &:hover {
      path {
        stroke: $violet;
      }
    }
  }
}
