@font-face {
    font-family: graphik-light;
    src: url("./components/fonts/GraphikLight.otf");
}@font-face {
    font-family: graphik-medium;
    src: url("./components/fonts/GraphikMedium.otf");
}

