@font-face {
    font-family: notobold;
    src: url("./NotoSans-Bold.ttf");
}
@font-face {
    font-family: noto;
    src: url("./NotoSans-Regular.ttf");
}
@font-face {
    font-family: trykker;
    src: url("./Trykker-Regular.ttf");
}