@import '../sass/variables.scss';
#sidebar {
  padding-left: $header-padding;
  min-height: 75vh;
  // padding-top: (41px / $divider);
  display: grid;
  place-items: center;
  .all-elements {
    width: (30px / $divider);
  }
  .row {
    img,
    svg {
      height: (30px / $divider);
      margin-bottom: (50px / $divider);
      path {
        transition: all 0.3s ease-out;
      }
      &:hover {
        path {
          stroke: $violet;
        }
      }
    }
    h6 {
      writing-mode: vertical-rl;
      margin-bottom: (21px / $divider);
      font-family: $graphik-light;
      color:$white;
    }
    .profile-image {
      height: 30px;
      width: 30px;
      background-color: $white;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 1px $white solid;
    }
  }
}
