@import '../sass/variables.scss';
#sidebar {
  padding-left: $header-padding;
  min-height: calc(100vh - 160px);
  padding-top: (28px / $divider);
  display: flex;
  // justify-content: center;
  align-content: space-between;
  flex-direction: column;
  width: (30px / $divider);
  .user {
    position: absolute;
    bottom: 43px;
    &:hover {
      .profile-image {
        border: 2px $violet solid;
      }
      h6 {
        opacity:1;
      }
    }
  }
  .row {
    img,
    svg {
      height: (30px / $divider);
      margin-bottom: (50px / $divider);
      path {
        transition: all 0.3s ease-out;
      }
      &:hover {
        path {
          stroke: $violet;
        }
      }
    }
    h6 {
      writing-mode: vertical-rl;
      margin-bottom: (21px / $divider);
      font-family: $graphik-light;
      color: $white;
      opacity:0.2;
      transition:all 0.3s ease-out;

    }
    .profile-image {
      height: 30px;
      width: 30px;
      background-color: $white;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 2px $white solid;
      transition:all 0.3s ease-out;
    }
  }
}
