/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~bootstrap';
@import './components/fonts/font.scss';
@import './components/sass/variables.scss';
@import './components/header/index.scss';
@import './components/sidebar/index.scss';
@import './components/body/index.scss';
@import './components/body/quickFeutures/index.scss';
@import './components/signup/index.scss';
.App {
  width: 100vw;
  height: 100vh;
  background: #121312;
  padding-top: (31px / $divider);
  padding-left: (50px / $divider);
  padding-right: (50px / $divider);
}
#root {
  background-color: #121312;
}
body {
  background-color: #121312;
  max-height: 100vh;
  max-width: 100vw;
  overflow-y: scroll;
   /* width */
    &::-webkit-scrollbar {
      width: (10px/$divider);
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: lighten($color: #262926, $amount: 12);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #262926;
      border-radius: 100px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #262926;
    }
}
